.meals{
    
   max-width: 60rem;
   
    padding: 10px;
    margin: -9rem auto;
    animation: meals-appear 1s ease-in forwards;
}
.meals ul{

    list-style: none;
    padding: 10px;

    
}
.lists{
    background-color: white;
}
.loading{
    text-align: center;
    color: white;
    position: relative;
    top:-10rem;
}
.fetchError{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    top:-10rem;
    width: 500px;
    height: 8rem;
    border-radius: 5px;
    margin: 10px auto;

}
@keyframes meals-appear{
    from{
        opacity: 0;
        transform: translateY(3rem);
        
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}