/* .cartItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemName{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    width: 30%;
}
.itemButtons{
display: flex;
align-items: center;
border: 1px solid black;
padding: 4px;
margin-right:3px;

}
.itemButtons button{
    width: 30px;
    height: 30px;
    margin: 3px;
    background-color: transparent;
    color:rgb(243, 85, 28);
    border:1px solid rgb(182, 176, 176);
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
}
.itemButtons button:hover{
    background-color: rgb(243, 85, 28);
    color: white;
} */

.itemButtons {
  display: flex;
  align-items: center;

  padding: 4px;
  margin-right: 3px;
}

.itemButtons button {
  width: 30px;
  height: 30px;
  margin: 3px;
  background-color: transparent;
  color: rgb(243, 85, 28);
  border: 1px solid rgb(182, 176, 176);
  border-radius: 5px;
  font-weight: bold;
  font-size: large;
}
.itemButtons button:hover {
  background-color: rgb(243, 85, 28);
  color: white;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  border: 2px solid rgb(182, 176, 176);
  border-radius: 5px;
  /* margin:3px; */
  padding: 1px;
}
.summary {
  margin: 4px;
  width: 150px;
  /* border: 1px solid black; */
  padding: 2px;
}
.summary>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.price{
    color:rgb(243, 85, 28); ;
}
hr{
    border: 1px solid rgb(243, 85, 28);
}
.cartItem h3{
    /* border: 1px solid black; */
    margin: 0px;
}

